@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
body, html {
  height: 56.25vw;
  width: 100vw;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  vertical-align: top;
}

* {
  font-family: "Noto Sans TC";
  box-sizing: border-box;
}

.animation {
  display: flex;
  width: 100%;
  height: 100%;
}

.L {
  flex: 9;
  background-color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.L .logo {
  width: 17%;
  min-width: 70px;
  position: absolute;
  top: 3.5%;
  left: 50%;
  transform: translateX(-50%);
}
.L .Mcircle {
  background-color: #ec6f09;
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 34vw;
}
.L .Lcircle {
  background-color: #ec6f09;
  width: 17vw;
  height: 17vw;
  border-radius: 100%;
  position: absolute;
  left: -5vw;
  top: 41%;
  -webkit-animation: float01 1s infinite linear 0s;
          animation: float01 1s infinite linear 0s;
}
.L .Rcircle {
  background-color: #ec6f09;
  width: 11vw;
  height: 11vw;
  border-radius: 100%;
  position: absolute;
  left: 47vw;
  top: 55%;
  -webkit-animation: float02 1s infinite linear 0s;
          animation: float02 1s infinite linear 0s;
}
.L .Ltopimg img {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 52%;
  transform-origin: 50% calc(60% + 20vw);
  transform: translate(-50%, -50%);
}
.L .Ltopimg .Lleaf01, .L .Ltopimg .Rleaf01, .L .Ltopimg .Lleaf02, .L .Ltopimg .Rleaf02, .L .Ltopimg .Lleaf03, .L .Ltopimg .Rleaf03, .L .Ltopimg .Lleaf04, .L .Ltopimg .Rleaf04, .L .Ltopimg .Lleaf05, .L .Ltopimg .Rleaf05 {
  top: -40%;
}
.L .Ltopimg .Ltea01, .L .Ltopimg .Ltea02, .L .Ltopimg .Ltea03, .L .Ltopimg .Ltea04, .L .Ltopimg .Ltea05 {
  transform: translate(-50%, -50%) rotate(-160deg);
}
.L h1.Ltop {
  color: #ec6f09;
  font-family: "Funnel Display";
  font-weight: 800;
  font-size: clamp(4rem, 18vw, 35rem);
  margin-top: 20px;
  letter-spacing: 2px;
  position: absolute;
  left: -100%;
  transform: translateX(-50%);
  margin-left: 0vw;
}
.L h3.LCname {
  font-family: "Montserrat", "Noto Sans TC";
  margin-bottom: 0;
  letter-spacing: 3px;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: clamp(0.7rem, 3.5vw, 3rem);
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
}
.L p.LEname {
  position: absolute;
  left: 50%;
  top: 92%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-weight: 600;
  color: #fff;
  font-size: clamp(0.4rem, 1.2vw, 1rem);
  white-space: nowrap;
  letter-spacing: 1px;
  line-height: 1.2;
  opacity: 0;
}
.L p.L03Ename {
  top: 93%;
}

.R {
  flex: 7;
}
.R .Rrow01, .R .Rrow03, .R .Rrow05 {
  background-color: #ec6f09;
}
.R .Rrow02, .R .Rrow04 {
  background-color: #f08c3a;
}
.R .Rrow06, .R .Rrow08, .R .Rrow10 {
  background-color: #0c2f54;
}
.R .Rrow07, .R .Rrow09 {
  background-color: #3d5976;
}
.R .Rrow01 .Name, .R .Rrow01 .moneysign, .R .Rrow02 .Name, .R .Rrow02 .moneysign, .R .Rrow03 .Name, .R .Rrow03 .moneysign, .R .Rrow04 .Name, .R .Rrow04 .moneysign, .R .Rrow05 .Name, .R .Rrow05 .moneysign {
  color: #0c2f54;
}
.R .Rrow01 .large, .R .Rrow02 .large, .R .Rrow03 .large, .R .Rrow04 .large, .R .Rrow05 .large {
  background-color: #0c2f54;
  color: #fff;
  padding: 0px 0.4vw;
  border-radius: 100%;
}
.R .Rrow06 .Name, .R .Rrow07 .Name, .R .Rrow08 .Name, .R .Rrow09 .Name, .R .Rrow10 .Name {
  color: #fff;
}
.R .Rrow06 .moneysign, .R .Rrow07 .moneysign, .R .Rrow08 .moneysign, .R .Rrow09 .moneysign, .R .Rrow10 .moneysign {
  color: #ec6f09;
}
.R .Rrow06 .large, .R .Rrow07 .large, .R .Rrow08 .large, .R .Rrow09 .large, .R .Rrow10 .large {
  background-color: #ec6f09;
  color: #fff;
  padding: 0px 0.4vw;
  border-radius: 100%;
}
.R .Rrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0px 15px 0px 15px;
}
.R .Rrow .Number {
  display: flex;
  margin-top: 5px;
}
.R .Rrow .Number .Rno {
  font-family: "Funnel Display";
  font-weight: 700;
  letter-spacing: 0.5px;
  white-space: nowrap;
  color: #fff;
  font-size: clamp(0.7rem, 3.2vw, 3rem);
}
.R .Rrow .Number .Rno span {
  font-size: clamp(0.4rem, 1.6vw, 1rem);
  font-weight: 900;
  margin-left: 4px;
}
.R .Rrow .Name {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.R .Rrow .Name .RCname {
  font-family: "Montserrat", "Noto Sans TC";
  font-weight: 600;
  margin-bottom: 3px;
  letter-spacing: 1.7px;
  font-size: clamp(0.5rem, 1.6vw, 1.5rem);
}
.R .Rrow .Name .REname {
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  font-size: clamp(0.3rem, 1.1vw, 1rem);
  line-height: 1.2;
}
.R .Rrow .Price {
  display: flex;
  align-items: center;
}
.R .Rrow .Price .smalltext {
  text-align: center;
}
.R .Rrow .Price .moneysign {
  font-family: "Montserrat";
  font-weight: 600;
  margin-bottom: 2px;
  font-size: clamp(0.4rem, 1.2vw, 1rem);
}
.R .Rrow .Price .large {
  font-family: "Montserrat";
  font-weight: 600;
  margin-bottom: 0;
  font-size: clamp(0.2rem, 0.9vw, 0.8rem);
}
.R .Rrow .Price .Rprice {
  font-family: "Funnel Display";
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: clamp(0.7rem, 3.2vw, 3rem);
  margin-left: 0.8vw;
  margin-top: 5px;
}

.R01Cname::after, .R02Cname::after, .R03Cname::after, .R05Cname::after {
  content: "";
  display: inline-block;
  width: 8%;
  height: 1.6vw;
  background-image: url(https://i.imgur.com/jefyVWB.png);
  background-size: 80%;
  background-repeat: no-repeat;
  margin-left: 3px;
  background-position: center bottom;
}

.R04Cname::after {
  content: "";
  display: inline-block;
  width: 21%;
  height: 1.6vw;
  background-image: url(https://i.imgur.com/sMPtqn2.png);
  background-size: 80%;
  background-repeat: no-repeat;
  margin-left: 0px;
  background-position: center bottom;
}

.R06Cname::after {
  content: "";
  display: inline-block;
  width: 6.3%;
  height: 1.6vw;
  background-image: url(https://i.imgur.com/2v5oNuM.png);
  background-size: 80%;
  background-repeat: no-repeat;
  margin-left: 3px;
  background-position: center bottom;
}

.R07Cname::after, .R10Cname::after {
  content: "";
  display: inline-block;
  width: 8%;
  height: 1.6vw;
  background-image: url(https://i.imgur.com/2iKWyLF.png);
  background-size: 80%;
  background-repeat: no-repeat;
  margin-left: 3px;
  background-position: center bottom;
}

.R09Cname::after {
  content: "";
  display: inline-block;
  width: 21%;
  height: 1.6vw;
  background-image: url(https://i.imgur.com/oWT18Dm.png);
  background-size: 80%;
  background-repeat: no-repeat;
  margin-left: 0px;
  background-position: center bottom;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes float01 {
  0% {
    top: 41%;
  }
  50% {
    top: 42%;
  }
  100% {
    top: 41%;
  }
}
@keyframes float01 {
  0% {
    top: 41%;
  }
  50% {
    top: 42%;
  }
  100% {
    top: 41%;
  }
}
@-webkit-keyframes float02 {
  0% {
    top: 55%;
  }
  50% {
    top: 54%;
  }
  100% {
    top: 55%;
  }
}
@keyframes float02 {
  0% {
    top: 55%;
  }
  50% {
    top: 54%;
  }
  100% {
    top: 55%;
  }
}
@-webkit-keyframes rotate01 {
  0% {
    transform: translate(-50%, -50%) rotate(-160deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes rotate01 {
  0% {
    transform: translate(-50%, -50%) rotate(-160deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@-webkit-keyframes rotate02 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(160deg);
  }
}
@keyframes rotate02 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(160deg);
  }
}
@-webkit-keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 50%;
  }
}
@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes slideOut {
  0% {
    margin-left: 0vwv;
  }
  60% {
    margin-left: 0vw;
  }
  80% {
    margin-left: -3vw;
  }
  90% {
    margin-left: 70vw;
  }
  100% {
    margin-left: 70vw;
  }
}
@keyframes slideOut {
  0% {
    margin-left: 0vwv;
  }
  60% {
    margin-left: 0vw;
  }
  80% {
    margin-left: -3vw;
  }
  90% {
    margin-left: 70vw;
  }
  100% {
    margin-left: 70vw;
  }
}
@-webkit-keyframes drop {
  0% {
    top: -40%;
  }
  100% {
    top: 52%;
  }
}
@keyframes drop {
  0% {
    top: -40%;
  }
  100% {
    top: 52%;
  }
}
@-webkit-keyframes float03 {
  0% {
    top: 52%;
  }
  50% {
    top: 51%;
  }
  100% {
    top: 52%;
  }
}
@keyframes float03 {
  0% {
    top: 52%;
  }
  50% {
    top: 51%;
  }
  100% {
    top: 52%;
  }
}
@-webkit-keyframes float04 {
  0% {
    top: 52%;
  }
  50% {
    top: 53%;
  }
  100% {
    top: 52%;
  }
}
@keyframes float04 {
  0% {
    top: 52%;
  }
  50% {
    top: 53%;
  }
  100% {
    top: 52%;
  }
}
.Ltop01 {
  -webkit-animation: slideIn 0.5s 1 linear 0s forwards, slideOut 0.5s 1 linear 5s forwards;
          animation: slideIn 0.5s 1 linear 0s forwards, slideOut 0.5s 1 linear 5s forwards;
}

.Ltea01 {
  -webkit-animation: rotate01 1s 1 ease-out 0s forwards, rotate02 1s 1 ease-out 5s forwards;
          animation: rotate01 1s 1 ease-out 0s forwards, rotate02 1s 1 ease-out 5s forwards;
}

.Lleaf01 {
  -webkit-animation: drop 0.5s 1 ease-in 1s forwards, float04 1s infinite linear 1.5s, fadeOut 0.1s 1 linear 4.9s forwards;
          animation: drop 0.5s 1 ease-in 1s forwards, float04 1s infinite linear 1.5s, fadeOut 0.1s 1 linear 4.9s forwards;
}

.Rleaf01 {
  -webkit-animation: drop 0.5s 1 ease-in 1s forwards, float03 1s infinite linear 1.5s, fadeOut 0.1s 1 linear 4.9s forwards;
          animation: drop 0.5s 1 ease-in 1s forwards, float03 1s infinite linear 1.5s, fadeOut 0.1s 1 linear 4.9s forwards;
}

.L01Cname {
  -webkit-animation: fadeIn 0.3s 1 linear 1.7s forwards, fadeOut 0.3s 1 linear 4.7s forwards;
          animation: fadeIn 0.3s 1 linear 1.7s forwards, fadeOut 0.3s 1 linear 4.7s forwards;
}

.L01Ename {
  -webkit-animation: fadeIn 0.3s 1 linear 2s forwards, fadeOut 0.3s 1 linear 5s forwards;
          animation: fadeIn 0.3s 1 linear 2s forwards, fadeOut 0.3s 1 linear 5s forwards;
}

.Ltop02 {
  -webkit-animation: slideIn 0.5s 1 linear 5.5s forwards, slideOut 0.5s 1 linear 10.5s forwards;
          animation: slideIn 0.5s 1 linear 5.5s forwards, slideOut 0.5s 1 linear 10.5s forwards;
}

.Ltea02 {
  -webkit-animation: rotate01 1s 1 ease-out 5.5s forwards, rotate02 1s 1 ease-out 10.5s forwards;
          animation: rotate01 1s 1 ease-out 5.5s forwards, rotate02 1s 1 ease-out 10.5s forwards;
}

.Lleaf02 {
  -webkit-animation: drop 0.5s 1 ease-in 6.5s forwards, float03 1s infinite linear 7s, fadeOut 0.1s 1 linear 10.4s forwards;
          animation: drop 0.5s 1 ease-in 6.5s forwards, float03 1s infinite linear 7s, fadeOut 0.1s 1 linear 10.4s forwards;
}

.Rleaf02 {
  -webkit-animation: drop 0.5s 1 ease-in 6.5s forwards, float04 1s infinite linear 7s, fadeOut 0.1s 1 linear 10.4s forwards;
          animation: drop 0.5s 1 ease-in 6.5s forwards, float04 1s infinite linear 7s, fadeOut 0.1s 1 linear 10.4s forwards;
}

.L02Cname {
  -webkit-animation: fadeIn 0.3s 1 linear 7.2s forwards, fadeOut 0.3s 1 linear 10.2s forwards;
          animation: fadeIn 0.3s 1 linear 7.2s forwards, fadeOut 0.3s 1 linear 10.2s forwards;
}

.L02Ename {
  -webkit-animation: fadeIn 0.3s 1 linear 7.5s forwards, fadeOut 0.3s 1 linear 10.5s forwards;
          animation: fadeIn 0.3s 1 linear 7.5s forwards, fadeOut 0.3s 1 linear 10.5s forwards;
}

.Ltop03 {
  -webkit-animation: slideIn 0.5s 1 linear 11s forwards, slideOut 0.5s 1 linear 16s forwards;
          animation: slideIn 0.5s 1 linear 11s forwards, slideOut 0.5s 1 linear 16s forwards;
}

.Ltea03 {
  -webkit-animation: rotate01 1s 1 ease-out 11s forwards, rotate02 1s 1 ease-out 16s forwards;
          animation: rotate01 1s 1 ease-out 11s forwards, rotate02 1s 1 ease-out 16s forwards;
}

.Lleaf03 {
  -webkit-animation: drop 0.5s 1 ease-in 12s forwards, float04 1s infinite linear 12.5s, fadeOut 0.1s 1 linear 15.9s forwards;
          animation: drop 0.5s 1 ease-in 12s forwards, float04 1s infinite linear 12.5s, fadeOut 0.1s 1 linear 15.9s forwards;
}

.Rleaf03 {
  -webkit-animation: drop 0.5s 1 ease-in 12s forwards, float03 1s infinite linear 12.5s, fadeOut 0.1s 1 linear 15.9s forwards;
          animation: drop 0.5s 1 ease-in 12s forwards, float03 1s infinite linear 12.5s, fadeOut 0.1s 1 linear 15.9s forwards;
}

.L03Cname {
  -webkit-animation: fadeIn 0.3s 1 linear 12.7s forwards, fadeOut 0.3s 1 linear 15.7s forwards;
          animation: fadeIn 0.3s 1 linear 12.7s forwards, fadeOut 0.3s 1 linear 15.7s forwards;
}

.L03Ename {
  -webkit-animation: fadeIn 0.3s 1 linear 13s forwards, fadeOut 0.3s 1 linear 16s forwards;
          animation: fadeIn 0.3s 1 linear 13s forwards, fadeOut 0.3s 1 linear 16s forwards;
}

.Ltop04 {
  -webkit-animation: slideIn 0.5s 1 linear 16.5s forwards, slideOut 0.5s 1 linear 21.5s forwards;
          animation: slideIn 0.5s 1 linear 16.5s forwards, slideOut 0.5s 1 linear 21.5s forwards;
}

.Ltea04 {
  -webkit-animation: rotate01 1s 1 ease-out 16.5s forwards, rotate02 1s 1 ease-out 21.5s forwards;
          animation: rotate01 1s 1 ease-out 16.5s forwards, rotate02 1s 1 ease-out 21.5s forwards;
}

.Lleaf04 {
  -webkit-animation: drop 0.5s 1 ease-in 17.5s forwards, float04 1s infinite linear 18s, fadeOut 0.1s 1 linear 21.4s forwards;
          animation: drop 0.5s 1 ease-in 17.5s forwards, float04 1s infinite linear 18s, fadeOut 0.1s 1 linear 21.4s forwards;
}

.Rleaf04 {
  -webkit-animation: drop 0.5s 1 ease-in 17.5s forwards, float03 1s infinite linear 18s, fadeOut 0.1s 1 linear 21.4s forwards;
          animation: drop 0.5s 1 ease-in 17.5s forwards, float03 1s infinite linear 18s, fadeOut 0.1s 1 linear 21.4s forwards;
}

.L04Cname {
  -webkit-animation: fadeIn 0.3s 1 linear 18.2s forwards, fadeOut 0.3s 1 linear 21.2s forwards;
          animation: fadeIn 0.3s 1 linear 18.2s forwards, fadeOut 0.3s 1 linear 21.2s forwards;
}

.L04Ename {
  -webkit-animation: fadeIn 0.3s 1 linear 18.5s forwards, fadeOut 0.3s 1 linear 21.5s forwards;
          animation: fadeIn 0.3s 1 linear 18.5s forwards, fadeOut 0.3s 1 linear 21.5s forwards;
}

.Ltop05 {
  -webkit-animation: slideIn 0.5s 1 linear 22s forwards, slideOut 0.5s 1 linear 27s forwards;
          animation: slideIn 0.5s 1 linear 22s forwards, slideOut 0.5s 1 linear 27s forwards;
}

.Ltea05 {
  -webkit-animation: rotate01 1s 1 ease-out 22s forwards, rotate02 1s 1 ease-out 27s forwards;
          animation: rotate01 1s 1 ease-out 22s forwards, rotate02 1s 1 ease-out 27s forwards;
}

.Lleaf05 {
  -webkit-animation: drop 0.5s 1 ease-in 23s forwards, float03 1s infinite linear 23.5s, fadeOut 0.1s 1 linear 26.9s forwards;
          animation: drop 0.5s 1 ease-in 23s forwards, float03 1s infinite linear 23.5s, fadeOut 0.1s 1 linear 26.9s forwards;
}

.Rleaf05 {
  -webkit-animation: drop 0.5s 1 ease-in 23s forwards, float04 1s infinite linear 23.5s, fadeOut 0.1s 1 linear 26.9s forwards;
          animation: drop 0.5s 1 ease-in 23s forwards, float04 1s infinite linear 23.5s, fadeOut 0.1s 1 linear 26.9s forwards;
}

.L05Cname {
  -webkit-animation: fadeIn 0.3s 1 linear 23.7s forwards, fadeOut 0.3s 1 linear 26.7s forwards;
          animation: fadeIn 0.3s 1 linear 23.7s forwards, fadeOut 0.3s 1 linear 26.7s forwards;
}

.L05Ename {
  -webkit-animation: fadeIn 0.3s 1 linear 24s forwards, fadeOut 0.3s 1 linear 27s forwards;
          animation: fadeIn 0.3s 1 linear 24s forwards, fadeOut 0.3s 1 linear 27s forwards;
}

@-webkit-keyframes bgcolorof {
  0% {
    background-color: #ec6f09;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes bgcolorof {
  0% {
    background-color: #ec6f09;
  }
  100% {
    background-color: #fff;
  }
}
@-webkit-keyframes bgcolorlof {
  0% {
    background-color: #f08c3a;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes bgcolorlof {
  0% {
    background-color: #f08c3a;
  }
  100% {
    background-color: #fff;
  }
}
@-webkit-keyframes bgcolorbo {
  0% {
    background-color: #0c2f54;
  }
  100% {
    background-color: #ec6f09;
  }
}
@keyframes bgcolorbo {
  0% {
    background-color: #0c2f54;
  }
  100% {
    background-color: #ec6f09;
  }
}
@-webkit-keyframes colorfo {
  0% {
    color: #fff;
  }
  100% {
    color: #ec6f09;
  }
}
@keyframes colorfo {
  0% {
    color: #fff;
  }
  100% {
    color: #ec6f09;
  }
}
@-webkit-keyframes colorbo {
  0% {
    color: #0c2f54;
  }
  100% {
    color: #ec6f09;
  }
}
@keyframes colorbo {
  0% {
    color: #0c2f54;
  }
  100% {
    color: #ec6f09;
  }
}
@-webkit-keyframes filtero {
  0% {
    filter: initial;
  }
  100% {
    filter: hue-rotate(-176deg) saturate(150%) brightness(260%) contrast(120%);
  }
}
@keyframes filtero {
  0% {
    filter: initial;
  }
  100% {
    filter: hue-rotate(-176deg) saturate(150%) brightness(260%) contrast(120%);
  }
}
.Rrow01 {
  animation: bgcolorlof 0.1s linear 0.5s 1 forwards, bgcolorof 0.1s linear 5.3s 1 reverse forwards;
}
.Rrow01 .large {
  animation: bgcolorbo 0.1s linear 0.5s 1 forwards, bgcolorbo 0.1s linear 5.3s 1 reverse forwards;
}

.Rrow02 {
  animation: bgcolorlof 0.1s linear 6s 1 forwards, bgcolorlof 0.1s linear 10.8s 1 reverse forwards;
}
.Rrow02 .large {
  animation: bgcolorbo 0.1s linear 6s 1 forwards, bgcolorbo 0.1s linear 10.8s 1 reverse forwards;
}

.Rrow03 {
  animation: bgcolorof 0.1s linear 11.5s 1 forwards, bgcolorof 0.1s linear 16.3s 1 reverse forwards;
}
.Rrow03 .large {
  animation: bgcolorbo 0.1s linear 11.5s 1 forwards, bgcolorbo 0.1s linear 16.3s 1 reverse forwards;
}

.Rrow04 {
  animation: bgcolorlof 0.1s linear 17s 1 forwards, bgcolorlof 0.1s linear 21.8s 1 reverse forwards;
}
.Rrow04 .large {
  animation: bgcolorbo 0.1s linear 17s 1 forwards, bgcolorbo 0.1s linear 21.8s 1 reverse forwards;
}

.Rrow05 {
  animation: bgcolorlof 0.1s linear 22.5s 1 forwards, bgcolorlof 0.1s linear 27.3s 1 reverse forwards;
}
.Rrow05 .large {
  animation: bgcolorbo 0.1s linear 22.5s 1 forwards, bgcolorbo 0.1s linear 27.3s 1 reverse forwards;
}

.R01no, .R01price {
  animation: colorfo 0.1s linear 0.5s 1 forwards, colorfo 0.1s linear 5.3s 1 reverse forwards;
}

.R01moneysign {
  animation: colorbo 0.1s linear 0.5s 1 forwards, colorbo 0.1s linear 5.3s 1 reverse forwards;
}

.R02no, .R02price {
  animation: colorfo 0.1s linear 6s 1 forwards, colorfo 0.1s linear 10.8s 1 reverse forwards;
}

.R02moneysign {
  animation: colorbo 0.1s linear 6s 1 forwards, colorbo 0.1s linear 10.8s 1 reverse forwards;
}

.R03no, .R03price {
  animation: colorfo 0.1s linear 11.5s 1 forwards, colorfo 0.1s linear 16.3s 1 reverse forwards;
}

.R03moneysign {
  animation: colorbo 0.1s linear 11.5s 1 forwards, colorbo 0.1s linear 16.3s 1 reverse forwards;
}

.R04no, .R04price {
  animation: colorfo 0.1s linear 17s 1 forwards, colorfo 0.1s linear 21.8s 1 reverse forwards;
}

.R04moneysign {
  animation: colorbo 0.1s linear 17s 1 forwards, colorbo 0.1s linear 21.8s 1 reverse forwards;
}

.R05no, .R05price {
  animation: colorfo 0.1s linear 22.5s 1 forwards, colorfo 0.1s linear 27.3s 1 reverse forwards;
}

.R05moneysign {
  animation: colorbo 0.1s linear 22.5s 1 forwards, colorbo 0.1s linear 27.3s 1 reverse forwards;
}

.R01Cname, .R01Ename {
  animation: filtero 0.05s linear 0.5s 1 forwards, filtero 0.05s linear 5.3s 1 reverse forwards;
}

.R02Cname, .R02Ename {
  animation: filtero 0.05s linear 6s 1 forwards, filtero 0.05s linear 10.8s 1 reverse forwards;
}

.R03Cname, .R03Ename {
  animation: filtero 0.05s linear 11.5s 1 forwards, filtero 0.05s linear 16.3s 1 reverse forwards;
}

.R04Cname, .R04Ename {
  animation: filtero 0.05s linear 17s 1 forwards, filtero 0.05s linear 21.8s 1 reverse forwards;
}

.R05Cname, .R05Ename {
  animation: filtero 0.05s linear 22.5s 1 forwards, filtero 0.05s linear 27.3s 1 reverse forwards;
}